/**************************/
/*         Imports        */
/**************************/
/**************************/
/* Google Fonts - Spartan */
/**************************/
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
/**************************/
/*         Colors         */
/**************************/
.container {
  padding: 2rem;
  display: flex;
  height: 100vh;
  max-width: 100vw;
  position: relative;
  overflow: hidden;
  background-color: black;
  box-shadow: inset 0px 0px 10px 1px yellow;
  z-index: 1;
}

.left-side {
  background-image: url("./assets/img/candidate.jpg");
  margin-right: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-shadow: 2px 2px 6px #000000;
}

.left-side h2 {
  color: yellow;
  margin-bottom: 9rem;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 900;
}

.left-side .candidate-list {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 3rem;
}

.left-side .candidate-list ul {
  color: yellow;
  list-style-position: inside;
}

.right-side {
  background-image: url("./assets/img/school.jpg");
  margin-left: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-shadow: 2px 2px 6px #000000;
}

.right-side h2 {
  color: yellow;
  margin-bottom: 9rem;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 900;
}

.right-side .school-list {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 3rem;
  margin-bottom: 2.2rem;
}

.right-side .school-list ul {
  color: yellow;
  list-style-position: inside;
}

.left-side,
.right-side {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 91vh;
  width: 50vw;
  border-radius: 6px;
  box-shadow: inset 0px 0px 10px 7px yellow;
  filter: grayscale(100%);
  transition: 0.3s ease-in-out;
}

.left-side:hover,
.right-side:hover {
  filter: grayscale(0);
}

.welcome {
  position: absolute;
  left: 34%;
  top: 8%;
  z-index: 2;
  text-align: center;
}

.welcome h1 {
  width: 30rem;
  padding: 1rem;
  color: black;
  background-color: yellow;
  border: 3px solid black;
  border-radius: 1rem;
}

.welcome p {
  font-weight: 700;
  width: 15rem;
  margin: 0 auto;
  margin-top: 1rem;
  padding: 1rem;
  color: black;
  background-color: yellow;
  border: 3px solid black;
  border-radius: 1rem;
}

/**************************/
/*         Globals        */
/**************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}
